$a1 : #317EEB;
:root{
    --body-color: #e6ccff;
    --title-color:black;
    --container-color:#e6e6e6;
    --main-color: #317EEB;
    --h1-color-green: green;
}
@mixin pink {
    $color: #d795bd; 
  }
  